@media (min-width: 768px) {
    #menu-button {
        display: none;
    }

    nav {
        display: block;
        position: static;
        width: auto;
        background-color: transparent;
    }

    nav ul {
        flex-direction: row;
        gap: 1rem;
    }

    nav a {
        padding: 0.5rem 1rem;
        border-radius: 5px;
    }

    #infor {
        padding: 7px;
        margin: 10px;
    }

   .hero {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero img {
        width: 70%;
        height: 5%;
        object-fit: cover;
        display: block;

    }

    .hero-text {
        position: absolute;
        text-align: center;
        top: 30%;
        width: 60%;
        background-color: #0e3e7c55;
    }

}